* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/public/videos/coding.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/public/videos/me.gif'); 
  background-position: center;
  background-size: cover; /* or 'contain' as needed */
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* Container for all portfolio sections */
.products-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Section title styling */
.products-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff; /* Blue color for the title */
}

/* About Me section styling */
.about-me {
  background-color: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 10px; /* Increase border-radius for a playful look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  animation: fadeIn 1s; /* Fade in animation */
  text-align: center; /* Center-align text */
}

/* Education section styling */
.education,
.coding-languages,
.fun-fact,
.hobbies {
  background-color: palevioletred; /* White background */
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; /* Increase border-radius for a playful look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  animation: fadeIn 1s; /* Fade in animation */
  text-align: center; /* Center-align text */
}

/* Fun Fact section styling */
.fun-fact {
  background-color: #ffcc00; /* Yellow background for fun fact */
  color: #fff; /* White text color for fun fact */
  padding: 20px;
  border-radius: 10px; /* Increase border-radius for a playful look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  animation: fadeIn 1s; /* Fade in animation */
  text-align: center; /* Center-align text */
}

/* Hobbies section styling */
.hobbies {
  background-color: #66cc66; /* Green background for hobbies */
  color: #fff; /* White text color for hobbies */
  padding: 20px;
  border-radius: 10px; /* Increase border-radius for a playful look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  animation: fadeIn 1s; /* Fade in animation */
  text-align: center; /* Center-align text */
}
